langchain
langchain-experimental
langchain-community
langchain-huggingface
langchain-chroma
langchain-ollama
numpy
sentence-transformers
pypdf
python-docx
beautifulsoup4
requests
sqlalchemy
ftfy
rapidfuzz
chromadb
faiss-cpu
einops
fastapi
uvicorn
python-dotenv
rank-bm25